* {
  font-family: 'Noto Sans KR', sans-serif;
}


.main_container {
  width: 375px;
  background-color: #F7F7F7;
  border-radius: 16px;
  padding: 50px;
  margin: 0 auto;
  margin-top: 150px;
}

.before {
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-color: #FFA000;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.before a {
  color: white;
}

.section_container {
  display: flex;
  flex-direction: column;
  width: 375px;
  text-align: right;
  gap: 8px;
  margin-bottom: 40px;
}

.section_items_input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section_items_input input {
  padding: 8px 8px 8px 20px;
  border-radius: 16px;
  border: none;
  background-color: #EFEFEF;
  color: #B1B1B1;
}

.sections_items_forgotPw a {
  text-decoration: none;
  color: #B56700;
  font-size: 12px;
}

.confirm_btn button {
  padding: 10px;
  width: 50%;
  background-color: #FFA000 ;
  color: white;
  border: none;
  border-radius: 20px;
}

.confirm_btn a {
  text-decoration: none;
  color: #B56700;
  font-size: 12px;
  font-weight: bold;
}